.App{
  display: flex;
  width: 100%;
  height: 100%;

}
.title{
  font-size: 20px;
  font-weight: bold;
  color:wheat;
  text-decoration: underline;
}
.description{
  font-size: 15px;
  color:wheat;
  padding: 0 5px;
}
.leftSide{
  height: 100%;
  width: 25%;
  background-color: #222;
  color:wheat;
  padding: 0 20px;
}
.cv-photo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.leftSide img.rounded-photo{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.socialIcons{
  display: flex;
  justify-content: space-between;
}
.socialIcons a{
  text-decoration: none;
  display: flex;
  color:wheat;
  display: flex;
  align-items: center;
  
}
.rightSide{
  height: 100%;
  width: 75%;
  background-color: #fff;
  color:black;
  padding: 0 20px;
}
.leftSideContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.headerSection{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.headerSection .contact-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color:black;
}
.headerSection .contact-item p{
  color:black;
}


.headerLeftSide{
  display: flex;
  flex-direction: column;
}
.name{
  font-size: 50px;
  font-weight: bold;
}
.job{
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}
.headerRightSide{
  display: flex;
  flex-direction: column;
}
.contact-item p{
  font-size: 15px;
  color:#222 !important;

}
.middle{
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
}
.contentTitle{
  border-bottom: 1px solid #222;
  font-size: 30px;
  font-weight: bold;
}
